<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{{url_for('home')}}">home</a>
<!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYXIkbWls_oXqEYDPWix4U_GyU43HHvEliBg&s">-->
<h2>{{ product1.name }}</h2>
<p>avaliable stock:{{product1.stock }}</p>
<p>Price:{{product1.price }}</p>
<a href="{{url_for('remove_cart',id=product1.id) }}"><button>Remove to Cart</button></a>
<p>quantity:{{cart.quantity }}</p>
{% if cart %}
{% if cart.quantity < product1.stock  %}
<a href="{{url_for('add_cart',id=product1.id) }}"><button>Add to Cart</button>
    {% else %}
     <p> only {{ product1.stock}} available. </p>
    {% endif %}


</a><br><br>

<p>Total Price:{{cart.quantity * product1.price}}</p>
{% else: %}
  <a href="{{url_for('add_cart',id=product1.id) }}"><button>Add to Cart</button>
    {% endif %}


<a href="{{url_for('checkout',id=product1.id) }}"><button>CheckOut</button></a>

</body>
</html>