#1_31_DAY_21
1_31_DAY_21/SMTP/birthday_wishes/pass2.py
1_31_DAY_21/SMTP/pass1.py
#2_3_DAY_22
2_3_DAY_22_FLASK/Overhead_notifier/manage.py
#2_7_DAY_26
2_7_DAY_26/bootstrap-blog/config2.py
#2_13_DAY_30
2_13_DAY_30/day-62-coffee-and-wifi/config1.py
#2_28_DAy_41
2_28_DAY_41/config.py
#3_3_DAY_42
3_3_DAY_42/secret.py

#3_4_DAY_43
3_4_DAY_43/stock-news/secret1.py
3_4_DAY_43/workout_tracker/config3.py

#3_5_DAY_44
3_5_DAY_44/flight_deals/.env
#3_10_DAY_47
3_10_DAY_47/spotify_config.py

#virtula envioronment
.venv