Bootstrap_Flask==2.2.0
Requests==2.31.0
WTForms==3.0.1
Flask_WTF==1.2.1
Werkzeug==3.0.0
Flask==2.3.2
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.25

https://www.canva.com/design/DAGfogi1FOY/ni4L3atyyDzSZ0iWzNn1bg/view?utm_content=DAGfogi1FOY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hcb34cabba4