<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYXIkbWls_oXqEYDPWix4U_GyU43HHvEliBg&s">
<h2>{{ product1.name }}</h2>
<p>{{product1.status }}</p>
<p>{{product1.price }}</p>
<a href="{{url_for('remove_cart',id=product1.id) }}"><button>Remove to Cart</button></a>
<p>quantity:{{cart.quantity }}</p>
<a href="{{url_for('add_cart',id=product1.id) }}"><button>Add to Cart</button></a><br><br>

{% if cart %}
<p>Total Price:{{cart.quantity * product1.price}}</p>
<a href="{{url_for('checkout',id=product1.id) }}"><button>CheckOut</button></a>
{% endif %}
</body>
</html>